doctype html

html(lang='en')

    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='./favicon.ico')

        title SIPlay Interview: React

        base(href='/')

    body

        app#app.container
