@import '~bootstrap/scss/_variables.scss';

li.task-item {
	user-select: none;

	&[data-completed=true] {
		text-decoration: line-through;
		font-style: oblique;
		color: rgba(0,0,0,.4);

		&:hover {text-decoration: line-through;}
	}

	.task-item-actions {
		position: absolute;
		right: 10px;
		top: 12px;
		display: none;
	
	}

	&:hover {
		.task-item-actions {display: inline-block;}
	}

	& > div {
		width: 100%;
	}

	.form-control-plaintext {
		border-bottom: 1px dotted rgba(0,0,0,.1) !important;
		border: none;
		outline: none;
		display: block;
		width: 100%;
	}
}

li.placheholder {
	border-style: dashed;
	opacity: 0.5;
}